<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles/styles.css') }}">
        <title>Independent Expenditures by Committee</title>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Independent Expenditures for {{ committee_id }}</h1>
            </a>
        </header>
        <div class="the-body">
            <img width="300px"
                src="{{ url_for('static', filename='images/Thundercracker1_1223717253.gif') }}">
            {% if df_html %}
            <table class="data">
                <tbody>
                    {{ df_html|safe }}
                </tbody>
            </table>
            {% else %}
            <h2>Bad committee ID or no data found!</h2>
            {% endif %}
            <h2>
                <form action="/committee/{{ committee_id }}" method="post">
                    <button type="submit">Download CSV</button>
                </form>
            </h2>
        </div>
        <p class="attribution">
            <em>*** by <a href="https://dnpdata.com">Andy
                    Friedman</a></em></p>
    </body>
</html>