<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="{{ url_for('static', filename='styles/styles.css') }}">
        <title>Independent Expenditures</title>
        <script>
            window.onload = function() {
                // Get form elements
                const formsRadio = document.getElementById('forms');
                const apiCheckbox = document.getElementById('api');
                const dateCheckbox = document.getElementById('date');
                const dateReceivedCheckbox = document.getElementById('date-received');
                const disseminationDateCheckbox = document.getElementById('dissemination-date');
            
                // Add event listener to forms radio button
                formsRadio.addEventListener('change', function() {
                    if (formsRadio.checked) {
                        apiCheckbox.checked = false;
                        dateCheckbox.checked = false;
                        dateReceivedCheckbox.checked = false;
                        disseminationDateCheckbox.checked = false;
                    }
                });
            
                // Add any additional logic here if needed
            };
            </script>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Daily Independent Expenditures By Date</h1>
            </a>
        </header>
        <div class="the-body">
            <img width="300px"
                src="{{ url_for('static', filename='images/Thundercracker1_1223717253.gif') }}">
            {% if message %}
            <h2>{{ message }}</h2>
            {% elif data %}
            <h1>>>> {{ date }}</h1>
            <a href="#new_search">Click here for a new search...</a>
            {% for k, df_html in data.items() %}
            <table class="data">
                <h2>{{ k.upper() }}</h2>
                {% if "24- and 48- Hour Filings" in data %}
                <p><a href="/forms/{{ date }}">(Click here to expand 24/48 Hour
                        form data...)</a></p>
                {% endif %}
                <tbody>
                    {{ df_html|safe }}
                </tbody>
            </table>
            <br>
            {% endfor %}
            <p><a name="new_search"><hr></a></p>
            {% endif %}
            <form action="/dates" method="post">
                <p><label for="datepicker">Select a Date:</label>
                </p>
                <input type="date" id="datepicker" name="datepicker"
                    value="{{ date }}"><br>

                <p>
                    <input type="radio" id="24-48" name="forms" checked>
                    <label for="24-48">Get 24- and 48- Hour Forms</label>
                </p>

                <p>or...</p>

                <p>
                    <input type="radio" id="datecheker" name="forms">
                    <label for="datechecker">Check existing data by date
                        type...</label>
                </p>

                <input type="checkbox" id="api" name="api">
                <label for="api">API</label><br>

                <input type="checkbox" id="date" name="date">
                <label for="date">Date</label><br>

                <input type="checkbox" id="date-received"
                    name="date-received">
                <label for="date-received">Date Received</label><br>

                <input type="checkbox" id="dissemination-date"
                    name="dissemination-date">
                <label for="dissemination-date">Dissemination
                    Date</label>
                <p><input type="submit" value="Submit"></p>

            </form>

        </div>
        <p class="attribution">
            <em>*** by <a href="https://dnpdata.com">Andy
                    Friedman</a></em></p>
    </body>
</html>